// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.products {

	table {
		border-collapse: collapse;
	}

	table tr td {
		padding: 5px;
		vertical-align: top;
	}

	.list-image {
		width: 60px;
		height: 70px;
	}
	
	.list-description {
		width: 60%;

		dl {
			margin: 0;
		}

		dt {
			color: #244;
			font-weight: bold;
		}

		dd {
			margin: 0;
		}
	}

	.list-actions {
		text-align: right;
		padding-left: 1em;
	}

	.list-line-even {
		background: #e0f8f8;
	}

	.list-line-even {
		background: #f8b0f8;
	}
}